<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmp.hrsrc.mapper.DemarkMapper">

    <select id="selectAll" resultType="com.pmp.hrsrc.entity.Demark">
        select * from t_demark order by id desc;
    </select>
    <insert id="insertDemark" parameterType="com.pmp.hrsrc.entity.Demark">
        insert into t_demark(id,sx,ms) values(#{id},#{sx},#{ms})
    </insert>
    <select id="findMaxId" resultType="int">
        SELECT ifnull(max(id),0)+1 FROM t_demark;
    </select>
    <select id="selectById" resultType="com.pmp.hrsrc.entity.Demark">
        select * from t_demark where id =#{id}
    </select>
    <update id="updateDemark" parameterType="com.pmp.hrsrc.entity.Demark">
        update t_demark set sx =#{sx} ,ms =#{ms} where id =#{id}
    </update>
    <delete id="deleteDemark" parameterType="int">
        delete from t_demark where id=#{id}
    </delete>
</mapper>