<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmp.hrsrc.mapper.HandBookMapper">
    <select id="selectAll"  resultType="com.pmp.hrsrc.entity.HandBook">
        select * from t_handbook  ;
    </select>
    <select id="findMaxId" resultType="int">
        select ifnull(max(id),0)+1 from t_handbook ;
    </select>
    <select id="selectById"  parameterType="int" resultType="com.pmp.hrsrc.entity.HandBook">
        select * from t_handbook where id =#{id}
    </select>
    <insert id="insertHandBook" parameterType="com.pmp.hrsrc.entity.HandBook" >
        insert into t_handbook(id,segid,books) values(#{id},#{segid},#{books})
    </insert>
    <update id ="updateHandBook" parameterType="com.pmp.hrsrc.entity.HandBook">
        update t_handbook set segid=#{segid} ,books =#{books} where id=#{id}
    </update>
    <delete id="deleteHandBook" parameterType="int">
        delete from t_handbook where id=#{id}
    </delete>
</mapper>