<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmp.hrsrc.mapper.MeetReportMapper">

    <select id="selectAll" parameterType="int" resultType="com.pmp.hrsrc.entity.MeetReport">
        select * from t_meetreport where pid=#{id} order by id desc ;
    </select>
    <insert id="insertMeetreport" parameterType="com.pmp.hrsrc.entity.MeetReport">
        insert into t_meetreport(id,mtype,mdate,mdesc,mzg,pid) values(#{id},#{mtype},#{mdate},#{mdesc},#{mzg},#{pid})
    </insert>
    <select id="findMaxId" resultType="int">
        select ifnull(max(id),0)+1 from t_meetreport ;
    </select>
    <select id="selectById" resultType="com.pmp.hrsrc.entity.MeetReport">
        select * from t_meetreport where id =#{id}
    </select>
    <update id="updateMeetreport" parameterType="com.pmp.hrsrc.entity.MeetReport">
        update t_meetreport set mtype =#{mtype} ,mdate =#{mdate},mdesc=#{mdesc},mzg=#{mzg} where id =#{id}
    </update>
    <delete id="deleteMeetreport" parameterType="int">
        delete from t_meetreport where id=#{id}
    </delete>
</mapper>