<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmp.hrsrc.mapper.ProfileMapper">

    <select id="selectAll"  resultType="com.pmp.hrsrc.entity.Profile">
        select * from t_profile order by id desc ;
    </select>
    <insert id="insertProfile" parameterType="com.pmp.hrsrc.entity.Profile">
        insert into t_profile(id,uid,uname,email,tg,phone,whatsapp,addr,saddr,vaddr,udate)
        values(#{id},#{uid},#{uname},#{email},#{tg},#{phone},#{whatsapp},#{addr},#{saddr},#{vaddr},CURRENT_DATE)
    </insert>
    <select id="findMaxId" resultType="int">
        select ifnull(max(id),0)+1 from t_profile ;
    </select>
    <select id="selectByUid" resultType="com.pmp.hrsrc.entity.Profile">
        select * from t_profile where uid =#{uid}
    </select>
    <update id="updateProfile" parameterType="com.pmp.hrsrc.entity.Profile">
        update t_profile set uname=#{uname},email=#{email},tg=#{tg},whatsapp=#{whatsapp},addr=#{addr},phone=#{phone},
        saddr=#{saddr} ,vaddr=#{vaddr},udate=CURRENT_DATE where id =#{id}
    </update>
    <select id="selectScode" parameterType="int" resultType="com.pmp.hrsrc.entity.Secrete">
        select * from t_sec where uid =#{uid}
    </select>
    <delete id="deleteProfile" parameterType="int">
        delete from t_profile where id=#{id}
    </delete>
    <select id="selectAllScode" resultType="com.pmp.hrsrc.entity.Secrete">
        select * from t_sec;
    </select>
</mapper>