<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmp.hrsrc.mapper.ProMapper">

    <select id="selectAll" resultType="com.pmp.hrsrc.entity.Pro">
        select * from t_pro ;
    </select>
    <select id ="selectProByUserId" parameterType="int" resultType="com.pmp.hrsrc.entity.Pro">
     select * from  t_pro where id in( select t3.pid from t_user_role t1,t_role_right t2,t_right t3 where t1.rid =t2.rid  and t2.rgid =t3.id and t1.uid=#{id})
    </select>
    <insert id="insertPro" parameterType="com.pmp.hrsrc.entity.Pro">
        insert into t_pro(id,pname,pmark) values(#{id},#{pname},#{pmark})
    </insert>
    <select id="findMaxId" resultType="int">
        select ifnull(max(id),0)+1 from t_pro ;
    </select>
    <select id="selectById" resultType="com.pmp.hrsrc.entity.Pro">
        select * from t_pro where id =#{id}
    </select>
    <update id="updatePro" parameterType="com.pmp.hrsrc.entity.Pro">
        update t_pro set pname =#{pname} ,pmark =#{pmark} where id =#{id}
    </update>
    <delete id="deletePro" parameterType="int">
        delete from t_pro where id=#{id}
    </delete>
</mapper>