<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmp.hrsrc.mapper.RightMapper">
    <select id="selectAll"  resultType="com.pmp.hrsrc.entity.Right">
        select t1.*,t2.pname from t_right t1,t_pro t2 where t1.pid =t2.id  ;
    </select>
    <select id="findMaxId" resultType="int">
        select ifnull(max(id),0)+1 from t_right ;
    </select>
    <insert id="insertRight" parameterType="com.pmp.hrsrc.entity.Right" >
        insert into t_right(id,rname,pid) values(#{id},#{rname},#{pid})
    </insert>
    <update id ="updateRight" parameterType="com.pmp.hrsrc.entity.Right">
        update t_right set rname=#{rname},pid=#{pid} where id=#{id}
    </update>
    <delete id="deleteRight" parameterType="int">
        delete from t_right where id=#{id}
    </delete>
</mapper>