<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmp.hrsrc.mapper.RoleRightMapper">
    <select id="selectByUid" parameterType="int" resultType="com.pmp.hrsrc.entity.RoleRight">
        select * from t_role_right where uid =#{id}
    </select>
    <select id="selectAll" resultType="com.pmp.hrsrc.entity.RoleRight">
        select * from t_role_right
    </select>
    <select id="selectAllDAO" resultType="com.pmp.hrsrc.entity.RoleRightDAO">
        select id,(select rname from t_role where t_role.id = rid) rname ,(select rname from t_right where t_right.id =rgid) rgname from t_role_right;
    </select>
    <select id="selectMaxId" resultType="int">
        select ifnull(max(id),0)+1 from t_role_right
    </select>
    <insert id="insertRoleRight" parameterType="com.pmp.hrsrc.entity.RoleRight" >
        insert into t_role_right(id,rid,rgid) values(#{id},#{rid},#{rgid})
    </insert>
    <update id ="updateRoleRight" parameterType="com.pmp.hrsrc.entity.RoleRight">
        update t_role_right set rid=#{rid},rgid=#{rgid} where id=#{id}
    </update>
    <delete id="deleteRoleRight" parameterType="int">
        delete from t_role_right where id=#{id}
    </delete>
</mapper>