<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pmp.hrsrc.mapper.ZpaccMapper">

    <select id="selectAll" resultType="com.pmp.hrsrc.entity.Zpacc">
        select * from t_zpacc order by id desc;
    </select>
    <insert id="insertZpacc" parameterType="com.pmp.hrsrc.entity.Zpacc">
        insert into t_zpacc(id,zh_name,zh_pwd,yx_name,yx_pwd,mark) values(#{id},#{zh_name},#{zh_pwd},#{yx_name},#{yx_pwd},#{mark})
    </insert>
    <select id="findMaxId" resultType="int">
        SELECT ifnull(max(id),0)+1 FROM t_zpacc;
    </select>
    <select id="selectById" resultType="com.pmp.hrsrc.entity.Zpacc">
        select * from t_zpacc where id =#{id}
    </select>
    <update id="updateZpacc" parameterType="com.pmp.hrsrc.entity.Zpacc">
        update t_zpacc set zh_name =#{zh_name} ,zh_pwd =#{zh_pwd},yx_name=#{yx_name},yx_pwd=#{yx_pwd},mark=#{mark} where id =#{id}
    </update>
    <delete id="deleteZpacc" parameterType="int">
        delete from t_zpacc where id=#{id}
    </delete>
</mapper>